.field--name-field-paragraphs .field__label{
  display: none;
}

.node__contacst__wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

/* Title */
.contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 120%;
  color: #222222;
  margin-bottom: 25px;
}

/* Info */
.node__contacst__wrapper .footer-info {
  margin-left: 50px;
  margin-top: 35px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  background: none;
}

.node__contacst__wrapper .footer-contact-us-title {
 display: none;
}

.node__contacst__wrapper .footer-num-1,
.node__contacst__wrapper .footer-num-2 {
  font-size: 25px;
}

.node__contacst__wrapper .footer-location-addres,
.node__contacst__wrapper .footer-email-email {
  font-size: 16px;
}

.node__contacst__wrapper .inst-footer,
.node__contacst__wrapper .in-footer {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.node__contacst__wrapper .footer-facebook {
  width: 8.65px;
  height: 16px;
  background-size: 8.65px 16px;
}

.node__contacst__wrapper .twitter-footer {
  width: 16px;
  height: 13px;
  background-size: 16px 13px;
}

/* Web_form */
.node__contacst__wrapper .webform-submission-contacts-form {
  margin-top: 70px;
  margin-left: 60px;
}

.node__contacst__wrapper .webform-submission-contacts-form .form-type-textfield {
  margin-top: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
}

.node__contacst__wrapper #edit-message {
  display: flex;
  width: 530px;
  height: 82px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.node__contacst__wrapper .webform-button--submit {
  float: right;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 14px 65px 14px 65px;
  background-color: #60B564;   
}

.node__contacst__wrapper .webform-button--submit:hover {
  background-color: #4f9952;
}

@media screen and (max-width: 1024px) {
  .node__contacst__wrapper .webform-submission-contacts-form .form-type-textfield {
    margin-left: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .node__contacst__wrapper #edit-message {
    width: 408px;
  }
}



