.popup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 35px;
}

.ui-dialog-title {
  display: none;
}

.ui-dialog .ui-dialog-titlebar {
  border-width: 0 0 0 0;
  background: #FFFFFF;
}

.ui-dialog .ui-dialog-content {
  padding: 25px 54px 25px 54px;
}

.ui-button .ui-icon {
  content: '';
  background-image: url(../img/form_popup/Vector.png) !important;
  width: 24px;
  height: 24px;
  background-position: 0;
  margin-top: -40px;
  margin-left: 25px;
  filter: invert();
}

/* Categories */
.popup__categoties .fieldset-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  height: 80px;
}

.popup__categoties.form-checkbox {
  display: none;
}

.popup__categoties .fieldset-legend {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
}

.popup__categoties label {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
  padding: 8px 12px 8px 12px;
  margin: 0px 8px 10px 0px;
  background: #F4F4F4;
  border-radius: 3px;
}

.popup__categoties label:hover {
  background: #a1d4c2;
}

.popup__categoties input[type=checkbox]:checked + label {
	background: #60B564;
  color: #F2F2F2;
}

/* Discound code */
.form-item-discount-code {
  margin-top: 35px !important;
}

.form-item-discount-code label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
}

.popup__discound_code {
  display: flex;
  width: 231px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-top: 10px;
}

.form-item-discount-code input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #999999;
}

/* email */
.popup__email_number {
  margin-bottom: 30px !important; 
}

.pop_up__title__flex {
  margin-top: 35px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
}

.popup__phone_number__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
}

.popup__phone_number {
  width: 231px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-top: 10px;
}

.popup__phone_number::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #999999;
}

.popup__email__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
}

.popup__email {
  width: 231px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-top: 10px;
}

.popup__email::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #999999;
}

/* Captcha */
.form-item-captcha-response .description {
  display: none;
}

.reload-captcha-wrapper {
  display: none;
}

.form-item-captcha-response .form-required {
  display: none;
}

.captcha {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.captcha > img {
  width: 229px;
  height: 64px;
}
 
.captcha .form-text {
  width: 231px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding-left: 12px;
  margin-top: 10px;
}

/* Consent */
.form-item-confirm-the-processing-of-personal-data- {
  margin-top: 40px !important;
}

.form-item-confirm-the-processing-of-personal-data- .form-required {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 120%;
  color: #666666;
}

/* Send */
.ui-dialog .ui-dialog-buttonpane {
  border-width: 0 0 0 0;
  background: #FFFFFF;
  padding-right: 50px;
}

.ui-dialog .ui-dialog-buttonpane .webform-button--submit {
  z-index: 999;
  bottom: 35px;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 14px 65px 14px 65px;
  background-color: #60B564;
}

.ui-dialog .ui-dialog-buttonpane .webform-button--submit:hover {
  background-color: #4f9952;
}

/* Confirmation */
.webform-confirmation-modal {
  width: 755px !important;
  padding: 25px 0px 25px 25px;
  left: 30% !important;
}

.webform-confirmation-modal .ui-dialog-title {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
}

.webform-confirmation-modal .ui-dialog-title::after {
  content: '';
  background: url(../img/Confirmation/mark.png);
  width: 32px;
  height: 25px;
  display: -webkit-inline-box;
  margin-left: 25px;
}

.webform-confirmation-modal .ui-widget-content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  padding: 0px 165px 25px 25px;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .captcha > img {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .captcha .form-text {
    width: 167px;
  }
}

