.popup__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 35px;
}

.ui-dialog-title {
  display: none;
}

.ui-dialog .ui-dialog-titlebar {
  border-width: 0 0 0 0;
  background: #FFFFFF;
}

.ui-dialog .ui-dialog-content {
  padding: 25px 54px 25px 54px;
}

.ui-button .ui-icon {
  content: '';
  background-image: url(../img/form_popup/Vector.png) !important;
  width: 24px;
  height: 24px;
  background-position: 0;
  margin-top: -40px;
  margin-left: 25px;
}

.popup__categoties .fieldset-wrapper > div {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 12px;
  margin-bottom: 41px; */
}

.popup__categoties.form-checkbox {
  display: none;
}

.popup__categoties .fieldset-legend {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
}

.popup__categoties label {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
  padding: 8px 12px 8px 12px;
  margin: 0px 8px 10px 0px;
  background: #F4F4F4;
}

.form-item-discount-code label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #666666;
}

.popup__discound_code {
  display: flex;
  width: 231px;
  height: 40px;
  /* margin-top: 12px;
  margin-bottom: 38px; */
}

.popup__email {
  display: flex;
  width: 231px;
  height: 40px;
}

.popup__email label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
}

.popup__phone_number {
  display: flex;
  width: 231px;
  height: 40px;
}

.popup__phone_number label{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
}




