@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: rgb(94, 115, 161);
}

/* Header *********************************************************/

#main-header {
    position: absolute;
    z-index: 10;
}

.region.region-main-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1200px;
    display: flex;
    justify-content: start;
}
/* Logo Image */

.logo-img-sites-default-files-logopng {
    margin-top: 35px;
    margin-right: 104px;
}

/* Navigation link  */

.menu-header {
    font-size: 14px;
    font-weight: 500;
    margin-top: 36px;
}

.menu-header li{
  display: block;
  float: left;
  position: relative;
    
}

.menu-header li a{
    text-decoration: none;
    color: #fff;    
}

.menu--item-header.menu-item--expanded-header {
    padding-left: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.menu--item-header.menu-item--expanded-header > a::after{
    content: '';
    background: url(../img/Vector.png);
    width: 10px;
    height: 6px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 16px;
    transform: rotate(1turn);
    }

.menu--item-header.menu-item--expanded-header > a:hover::after{
    content: '';
    background: url(../img/Vector.png);
    width: 10px;
    height: 6px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 16px;
    transform: rotate(0.5turn);
    } 

.menu--item-header.menu-item--expanded-header ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
}

.menu-header li:nth-child(1) {
    margin-right: 34px;
}

.menu-header li {
    padding-top: 13px;
}

.menu-header li ul li{
    padding-top: 0;
    margin-bottom: 13px;
}

.menu-header li ul {
    display: none;
    flex-direction: column;
    margin-top: 27px; 
}

.menu-header li:hover > ul {
    display: flex;
}

.menu-header li:hover > a {
    color: #000;
}

.menu--item-header.menu-item--expanded-header:hover {
    background-color: rgb(255, 255, 255);
}

/* Phone number  */

.phone_number {
    margin-top: 46px;
    margin-left: 146px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.phone_number p {
    margin:0;
}

/* Book Now */

.book_now {
    margin-left: 60.3px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.book_now a { 
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 13px 42px 11px 43px;
}


/* First screen **************************************/

#first-screen {
    position: relative;
    z-index: 1;

}
