@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #F8F8F8;
}

/* Header */
.path-frontpage #main-header {
  z-index: 10;
  margin: 0 auto;
  justify-content: center;
  height: 88px;
  position: absolute;
}

.path-frontpage .region.region-main-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;
  justify-content: start;
}

/* Logo Image */
.path-frontpage .logo-img-sites-default-files-logopng img{
  filter: invert(0%);
}

/* Navigation link  */
#block-navbar .menu-header {
  font-size: 14px;
  font-weight: 500;
}

#block-navbar .menu-header li{
  display: block;
  float: left;
}

.path-frontpage #block-navbar .menu-header li a{
  text-decoration: none;
  color: #fff;  
}

#block-navbar .menu--item-header.menu-item--expanded-header {
  padding-left: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

#block-navbar .menu--item-header.menu-item--expanded-header > a::after{
  content: '';
  background: url(../img/Vector.png);
  width: 10px;
  height: 6px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 16px;
  transform: rotate(1turn);
}

#block-navbar .menu--item-header.menu-item--expanded-header > a:hover::after{
  content: '';
  background: url(../img/Vector.png);
  width: 10px;
  height: 6px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 16px;
  transform: rotate(0.5turn);
} 

#block-navbar .menu--item-header.menu-item--expanded-header ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
}

#block-navbar .menu-header li:nth-child(1) {
  margin-right: 34px;
}

#block-navbar .menu-header li {
  padding-top: 13px;
}

#block-navbar .menu-header li ul li{
  padding-top: 0;
  margin-bottom: 13px;
}

.path-frontpage #block-navbar .menu-header li ul {
  display: none;
  flex-direction: column;
  margin-top: 27px;
  padding-top: 0px;
  padding-left: 0px;
  position: inherit;
}

#block-navbar .menu-header li:hover > ul {
  display: flex;
}

#block-navbar .menu-header li:hover > a {
  color: #000;
  transition: 0.2s;
}

#block-navbar .menu--item-header.menu-item--expanded-header:hover {
  background-color: #F8F8F8;
}

/* Phone number  */
.path-frontpage .phone_number {
  margin-top: 11px;
  margin-left: 146px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.phone_number p {
    margin:0;
}

/* Book Now */
.book_now {
  margin-left: 59.4px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}

.path-frontpage .book_now a { 
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 13px 42px 11px 43px;
  background-color: rgb(245 247 250 / 0%);
}

.path-frontpage .book_now a:hover { 
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid #87a88e;
  background-color: #87a88e;
  opacity: 0.5;
  transition: 0.3s;
}

/* First screen */
#first-screen {
  position: relative;
  z-index: 1;
  justify-content: center;
  margin: 0 auto;
}

.views-element-container.contextual-region.block-views-blockslider-categories-block-1 h2 {
  display: none;
}

.path-frontpage .field__label {
  display: none;
}

.path-frontpage .image-style-_980x800 {
  overflow: initial;
  width: 100%;
  height: 800px;
  filter: brightness(80%);
}

#slick-views-slider-categories-block-1-1 .slick-prev.slick-arrow{
  position: absolute;
  display: none;
}

#slick-views-slider-categories-block-1-1  .slick-next.slick-arrow {
  z-index: 3;
  position: absolute;
  top: 352px;
  left: 1409px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  border: none;
  background: none;
}

#slick-views-slider-categories-block-1-1 .slick-next.slick-arrow::before{
  z-index: 3;
  width: 96px;
  height: 14px;
  position: absolute;
  margin-top: 15px;
  overflow: auto;
  content: '';
  background: url(../img/Main-slider/arrow.png);
  display: inline-block;
}

.views-field.views-field-counter span.field-content {
  z-index: 3;
  position: absolute;
  top: 702.6px;
  margin-left: 1480px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;  
}

.views-field.views-field-field-sh div.field-content {
  z-index: 3;
  position: absolute;
  top: 711px;
  margin-left: 1266px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.views-field.views-field-name span.field-content {
  z-index: 3;
  position: absolute;
  top: 696px;
  margin-left: 341px;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;   
}

.views-field.views-field-name span.field-content a{
  color: #fff;
  text-decoration: none;
}

.views-field.views-field-field-m div.field-content {
  z-index: 3;
  position: absolute;
  top: 728px;
  margin-left: 342px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  color: #fff;
}

.views-field.views-field-view-taxonomy-term span.field-content {
  z-index: 3;
  position: absolute;
  top: 760px;
  margin-left: 342px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
}

.views-field.views-field-view-taxonomy-term span.field-content a{
  color: #fff;
  text-decoration: none;
}

.views-field.views-field-view-taxonomy-term span.field-content a::after {
  z-index: 3;
  position: absolute;
  width: 28px;
  height: 12px;
  margin-left: 12.5px;
  margin-top: 0.5px;
  content: '';
  background: url(../img/Main-slider/more_det_arrow.png);
  display: inline-block;
}


/* Main page content */
/* Details */
.paragraph--type--image-title-discr {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 140px;
}

.paragraph--type--image-title-discr .group-right {
  margin-top: 120px;
}

.details__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  text-decoration: none;
  color: #000;
  letter-spacing: 0em;
  margin-bottom: 25px;
}

.details__descr {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.4px;
  letter-spacing: 0em;
  margin-bottom: 110px;
}

.paragraph--type--image-title-discr .field--type-link .field__item {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

.paragraph--type--image-title-discr .field--type-link .field__item a {
  text-decoration: none;
  color:#000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 13px 36px 11px 37px;
}

.paragraph--type--image-title-discr .field--type-link .field__item a:hover {
  color: #fff;
  border: 1px solid rgb(152, 206, 150);
  background-color: rgb(152, 206, 150);
  transition: 0.3s;
}

/* Feautures */
#block-block3 h2 {
  display: none;
}

.peculiarites {
  background: #F1F1F1;
  max-width:100%;
  height: 316px;
}

.wrapper-block-3 {
  max-width: 1180px;
  margin: 0 auto;
}

.title-block-3 {
  z-index: 10;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 79px;
}

.descr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.img-bed {
  content: '';
  background: url(../img/block_3/bed.png);
  width: 64px;
  height: 48px;
  display: inline-block;
  margin-top: 49px;
}

.descr-bed {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 36px;
  margin-top: 53px;
}

.img-forest {
  content: '';
  background: url(../img/block_3/forest.png);
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-left: 225px;
  margin-top: 41px;
}

.descr-forest {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 36px;
  margin-top: 54px;
}

.img-leaf {
  content: '';
  background: url(../img/block_3/leaf.png);
  width: 36px;
  height: 64px;
  display: inline-block;
  margin-left: 187px;
  margin-top: 41px;
}

.descr-leaf {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 51px;
  margin-top: 53px;
}

/* Rooms */
#block-rooms {
  max-width: 1180px;
  margin: 0 auto;
}

.title-rooms {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 137px;
}

.descr-rooms {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.04px;
  text-align: left;
  margin-top: 23px;
}

#block-rooms .image-style-rooms-1180x470 {
  margin-top: 76px;
  margin-bottom: 40px;
}

#block-rooms .slick__slider .slick__slide {
  margin-right: 20px;
}

#block-rooms .slick__slider .views-field-field-preview {
  margin-bottom: 30px;
}

#block-rooms .slick__slider .views-field-title a{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  color: #000;
}

#block-rooms .slick__slider .views-field-title a:hover {
  color: #60B564;
  text-decoration: underline;
}

#block-rooms .slick__slider .views-field-field-cost {
  margin-left: 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000;
}

#block-rooms .slick__slider .views-field-field-category {
  margin-top: 13px;
}

#block-rooms .slick__slider .views-field-field-category a {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #666666;
  text-decoration: none;
}

#block-rooms .slick__arrow {
  position: relative;
  top: -300px;
}

#block-rooms .slick-prev.slick-arrow {
  position: absolute;
  left: -40px;
}

#block-rooms .slick-prev.slick-arrow::after {
  position: absolute;
  left: -8px;
  margin-top: 62px;
  content: '';
  background: url(../img/rooms_block_4/arrow_left.png);
  width: 28px;
  height: 12px;
  display: inline-block;
}

#block-rooms .slick-next.slick-arrow {
  position: absolute;
  right: -40px;
}

#block-rooms .slick-next.slick-arrow::before {
  position: absolute;
  left: -23px;
  margin-top: 62px;
  content: '';
  background: url(../img/rooms_block_4/arrow-right.png);
  width: 28px;
  height: 12px;
  display: inline-block;
}

/* View all rooms */
.btn-view-all-rooms{ 
  margin-top: 50px;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  float: right;
  margin-bottom: 140px;
}

.btn-view-all-rooms a{
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 13px 30px 11px 30px;
}

.btn-view-all-rooms a:hover{
  color: #fff;
  border: 1px solid rgb(152, 206, 150);
  background-color: rgb(152, 206, 150);
  transition: 0.3s;
}

/* Contact us block 5 */
.help-block-5 {
  background: #EDEDED;
  max-width:100%;
  height: 244px;
}

.block-5 {
  display: flex;
}

.text-block-5 {
  display: flex;
  flex-direction: column;
}

.title-block-5 {
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #222222;
  margin-top: 84px;
  margin-bottom: 0;
  margin-left: 201px;
}

.descr-block-5 {
  margin-top: 9px;
  margin-left: 201px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}

.btn-contact-us {
  margin-top: 116px;
  margin-left: 170px;
}

.btn-contact-us a {
  text-decoration: none;
  color: #414051;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 28px 70px 25px 73px;
  background-color: #fff;  
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.btn-contact-us a:hover {
  color: #fff;
  border: 1px solid rgb(152, 206, 150);
  background-color: rgb(152, 206, 150);
  transition: 0.3s;
}

/* Footer page */
#block-footerpage {
  margin-top: 140px;
}

#block-footerpage .menu-header {
  display: flex;
  justify-content: space-around ;
  flex-grow: 1;
  background-color: #f1f1f1;
}

#block-footerpage .menu-header .menu-item--expanded-header .menu-header {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  height: 346px;
  margin-bottom: 136px;
}

.footer-left {
  flex-grow: 1;
  background: #f1f1f1;
  margin-top: 140px;
  height: 362px;
}

.footer-right {
  height: 362px;
  flex-grow: 1;
  background: #EDEDED;
  margin-top: 140px;
  margin-left: -1px;
}

.footer {
  width: 1180px;
  justify-content: center;
  height: 346px;
}

.footer-info {
  margin-top: 140px;
  padding-top: 74px;
  padding-left: 38px;
  padding-bottom: 80px;
  padding-right: 27px;
  background: #EDEDED;
}

.footer .region.region-footer {
  display: flex;
}

#block-footerpage .menu-header a {
  text-decoration: none;
}

#block-footerpage .menu-header li {
  list-style-type: none;
}

#block-footerpage > ul > li > a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 15px;
}

#block-footerpage > ul > li > a:hover {
  color: #3a3838;
}


#block-footerpage > ul > li > ul > li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  color: #999999;
  margin-bottom: 15px;
}

#block-footerpage > ul > li > ul > li > a:hover {
  color: #444141;
}

#block-footerpage > ul > li > ul {
  margin-top: 15px;
}

#block-footerpage > ul > li > ul > li {
  margin-bottom: 15px;
}

#block-footerpage > ul {
  padding-top: 74px;
  padding-bottom: 50px;
}

#block-footerpage > ul > li:nth-child(1) {
  margin-right: 144px;
}

#block-footerpage > ul > li:nth-child(2) {
  margin-right: 63px;
}

#block-footerpage > ul > li:nth-child(3) {
  margin-right: 90px;
}

#block-footerpage > ul > li:nth-child(4) {
  margin-right: 237px;
}

.footer-contact-us-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 14px;
}

.footer-contact-us-title a {
  text-decoration: none;
}

.footer-num-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 10px;
}

.footer-num-1 a{
  color: #333333;
}

.footer-num-1 a:hover {
  color: #416d40;
}

.footer-num-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 16px;
}

.footer-num-2 a{
  color: #333333;
}

.footer-num-2 a:hover {
  color: #416d40;
}

.footer-location-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: #666666;
  margin-bottom: 4px;
}

.footer-location-addres {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 16px;
}

.footer-location-addres a {
  color: #333333;
}

.footer-location-addres a:hover {
  color: #416d40;
}

.footer-email-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: #666666;
  margin-bottom: 4px;
}

.footer-email-email {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #333333;
}

.footer-email-email a {

  color: #333333;
}

.footer-email-email a:hover {
  color: #416d40;
}

.footer-soc {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}

.inst-footer {
  content: '';
  background: url(../img/soc/inst_hover.png);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  margin-right: 18px;
}

.inst-footer:hover {
  content: '';
  background: url(../img/soc/inst.png);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}

.footer-facebook {
  content: '';
  background: url(../img/soc/facebook_hover.png);
  width: 6.5px;
  height: 12px;
  background-size: 6.5px 12px;
  margin-right: 18px;
}

.footer-facebook:hover {
  content: '';
  background: url(../img/soc/facebook.png);
  width: 6.5px;
  height: 12px;
  background-size: 6.5px 12px;
}

.in-footer {
  content: '';
  background: url(../img/soc/in_hover.png);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  margin-right: 18px;
}

.in-footer:hover {
  content: '';
  background: url(../img/soc/in.png);
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}

.twitter-footer {
  content: '';
  background: url(../img/soc/twitter_hover.png);
  width: 12px;
  height: 9.75px;
  background-size: 12px 9.75px;
}

.twitter-footer:hover {
  content: '';
  background: url(../img/soc/twitter.png);
  width: 12px;
  height: 9.75px;
  background-size: 12px 9.75px;
}

.footer-end {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: #999999;
  position: absolute;
}

/* Popup button */
.fixedbut {
  display: block;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 50%;
  background: #60B564;
}

.fixedbut::before {
  content: '';
  background: url(../img/popup__button__fixed/Vector.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 16px;
}

.fixedbut a {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  color: #E6FFE7;
  text-decoration: none;
  border-radius: 5px;
  padding: 37px 44px 12px 16px;
  background: #60B564;
}

.fixedbut a:hover {
  color: #E6FFE7;
  background: #4e8651;
  transition: 0.3s;
}