<div id="page">
  <div id="wrapper" class="wrapper">
    <header id="main-header" class="main-header" role="banner">
      {{ page.main_header }}
    </header>
  </div>

    <div id="first-screen" class="first-screen" role="main">
      {{ page.first_screen }}
    </div>
 
    <div id="content" class="content" role="main">
      {{ page.content }}
    </div>

  <div id="wrapper" class="wrapper">
    <div id="footer" class="footer" role="main">
      {{ page.footer }}
    </div>
  </div>

</div>

